@font-face {
  font-family: 'RegularMedium';
  src: url('Regular-MediumWeb.eot')
}

@font-face {
  font-family: 'RegularMedium';
  src: url('Regular-MediumWeb.woff') format("woff");
}

body {
  background-color: black;
  color: white;
  font-family: RegularMedium, Verdana, Geneva, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: xx-large;
  font-weight: normal;
  text-align: center;
}

.headline {
  font-size: xx-large;
}

.fixed {
  color: gray;
}

p.source {
  color: orange;
  text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
  border: none;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 7px;
  font-size: 22px;
  font-weight: normal;
}

td {
  text-align: left;
  vertical-align: top;
  padding: 7px;
}

tr:nth-of-type(even) {
  background-color: #0F0F0F;
}

tr:nth-of-type(odd) {
  background-color: #000000;
}

img {
  width: 256px;
  height: auto;
}

p.image {
  text-align: center;
}

a:link {
    color: orange;
}

a:visited {
    color: gray;
}

a:hover {
    color: yellow;
}

/* selected link */
a:active {
    color: crimson;
}
